
$bulma-danger-h: 355deg;

@use "bulma/sass" with (
  $input-shadow: none
);

:root {
  --bulma-danger-h: 355deg;
  --bulma-danger-s: 57%;
  --bulma-danger-l: 49%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
