
$bulma-danger-h: 355deg;

@use "bulma/sass" with (
  $input-shadow: none
);

:root {
  --bulma-danger-h: 355deg;
  --bulma-danger-s: 57%;
  --bulma-danger-l: 49%;
}

// importing core styling file
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

// our project needs Classic Solid, Brands, and Sharp Solid
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';

// .timeline {
//   position: relative;
//   padding: 1.5rem 0;
// }

// .timeline-item {
//   position: relative;
//   padding: 1.5rem 0;
// }

// .timeline-marker {
//   position: absolute;
//   left: 1rem;
//   top: 0;
// }

.timeline-content {
  border-right: 2px solid #c5c5c5;
  .active {
    border-right: 2px solid #00d1b2;
  }
}



// .timeline-marker .icon {
//   font-size: 2rem;
//   color: #00d1b2;
// }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-item {
  text-transform: uppercase;
  padding: 36px 20px;
}

.navbar-item:hover {
  color: #c53542;
}

.portal-button {
  color: white;
}

#navbarBasic a {
  position: relative;
  text-decoration: none;
  color: #54595f;
}

#navbarBasic a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px; /* Thickness of the line */
  right: 0;
  bottom: 0;
  background-color: #c53542; /* The color of the underline */
  transition: width 0.3s ease-out;
}

#navbarBasic a:hover::after {
  width: 100%; /* Expands the underline on hover */
}
